    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    select,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .td02 {
        border: 0px;
    }

    tr.trOsztaly:nth-child(even) {
        background-color: #dddddd;
    }

    .buttonNyomtathato:hover {
        box-shadow: 0 0 3px;
    }